### Remove:
* Null values, new_line("\n"), hashtags("#*"), emojis, other characters
### Replace:
* ['áˆ', 'áˆ‘', 'áˆ’', 'áˆ“', 'áˆ”', 'áˆ–'] with ['áˆ€', 'áˆ', 'áˆ‚', 'áˆƒ', 'áˆ„', 'áˆ…', 'áˆ†']
* ['áŠ€', 'áŠ', 'áŠ‚', 'áŠƒ', 'áŠ„', 'áŠ…', 'áŠ†'] with ['áˆ€', 'áˆ', 'áˆ‚', 'áˆƒ', 'áˆ„', 'áˆ…', 'áˆ†']
* ['áˆ ', 'áˆ¡', 'áˆ¢', 'áˆ£', 'áˆ¤', 'áˆ¦', 'áˆ¦', 'áˆ§'] with ['áˆ°, 'áˆ±', 'áˆ²', 'áˆ³', 'áˆ´', 'áˆµ', 'áˆ¶', 'áˆ·']
* ['á‹', 'á‹‘', 'á‹’', 'á‹“', 'á‹”', 'á‹•', 'á‹–'] with ['áŠ ', 'áŠ¡', 'áŠ¢', 'áŠ£', 'áŠ¤', 'áŠ¥', 'áŠ¦']
* ['áŒ¸', 'áŒ¹', 'áŒº', 'áŒ»', 'áŒ¼', 'áŒ½', 'áŒ¾'] with ['á€', 'á', 'á‚', 'áƒ', 'á„', 'á…', 'á†']

#### Import modules

In [1]:

import pandas as pd
from src.util import Util
util = Util()

#### Read parsed data

In [2]:
df = pd.read_csv("/home/yvvon_majala/llm-fast-api/data/shuffled.csv")
df.head()

,Unnamed: 0,Date,Message,label
0,81,2024-01-26T12:07:19+00:00,ğŸŒ¼Sauna vestğŸŒ¼\nâ¤ áŠ­á‰¥á‹°á‰µáŠ• áˆˆáˆ˜á‰€áŠáˆµ áŠ¥áŠ“ á‰ á‰°áŠ¨á‰³á‰³á‹­ áŠ áŒ á‰ƒá‰€áˆ áˆ°á‹...,retail
1,323,2023-11-23T10:11:23+00:00,NaN,real estate
2,1860,2023-02-23T14:21:00+00:00,NaN,real estate
3,2092,2023-12-22T13:05:54+00:00,# áŒ«áˆ› áˆ˜á‹°áˆ­á‹°áˆªá‹« [ á‰£áˆˆ á‰¥áˆ¨á‰± ]\nğŸ“² 0910091057\nğŸ“² 096106...,retail
4,6573,2023-11-30T07:25:53+00:00,NaN,retail

In [3]:
df.shape

(10245, 4)

#### Remove null values

In [4]:
df = df.dropna()
df.head()

,Unnamed: 0,Date,Message,label
0,81,2024-01-26T12:07:19+00:00,ğŸŒ¼Sauna vestğŸŒ¼\nâ¤ áŠ­á‰¥á‹°á‰µáŠ• áˆˆáˆ˜á‰€áŠáˆµ áŠ¥áŠ“ á‰ á‰°áŠ¨á‰³á‰³á‹­ áŠ áŒ á‰ƒá‰€áˆ áˆ°á‹...,retail
3,2092,2023-12-22T13:05:54+00:00,# áŒ«áˆ› áˆ˜á‹°áˆ­á‹°áˆªá‹« [ á‰£áˆˆ á‰¥áˆ¨á‰± ]\nğŸ“² 0910091057\nğŸ“² 096106...,retail
6,664,2024-01-15T09:57:48+00:00,call us 0912426847 0905710617,retail
7,1219,2024-01-03T12:03:57+00:00,Bapesta Sneaker \nSize:- 40 41 42 43 \nMade in...,retail
9,5990,2023-12-02T07:17:12+00:00,Vans Sk8 Hi Tapered \nSize:- 40 41 \nMade in V...,retail

In [5]:
df.shape

(7118, 4)

#### Remove new line

In [6]:
df = df.replace('\n', ' ', regex=True)
df.head()

,Unnamed: 0,Date,Message,label
0,81,2024-01-26T12:07:19+00:00,ğŸŒ¼Sauna vestğŸŒ¼ â¤ áŠ­á‰¥á‹°á‰µáŠ• áˆˆáˆ˜á‰€áŠáˆµ áŠ¥áŠ“ á‰ á‰°áŠ¨á‰³á‰³á‹­ áŠ áŒ á‰ƒá‰€áˆ áˆ°á‹áŠ...,retail
3,2092,2023-12-22T13:05:54+00:00,# áŒ«áˆ› áˆ˜á‹°áˆ­á‹°áˆªá‹« [ á‰£áˆˆ á‰¥áˆ¨á‰± ] ğŸ“² 0910091057 ğŸ“² 09610685...,retail
6,664,2024-01-15T09:57:48+00:00,call us 0912426847 0905710617,retail
7,1219,2024-01-03T12:03:57+00:00,Bapesta Sneaker Size:- 40 41 42 43 Made in V...,retail
9,5990,2023-12-02T07:17:12+00:00,Vans Sk8 Hi Tapered Size:- 40 41 Made in Vie...,retail

#### Extract and remove hasthags

In [7]:
# Extract hashtags
df['hashtags'] = df['Message'].apply(lambda x: util.extract_hashtags(x))
df.head()

,Unnamed: 0,Date,Message,label,hashtags
0,81,2024-01-26T12:07:19+00:00,ğŸŒ¼Sauna vestğŸŒ¼ â¤ áŠ­á‰¥á‹°á‰µáŠ• áˆˆáˆ˜á‰€áŠáˆµ áŠ¥áŠ“ á‰ á‰°áŠ¨á‰³á‰³á‹­ áŠ áŒ á‰ƒá‰€áˆ áˆ°á‹áŠ...,retail,[]
3,2092,2023-12-22T13:05:54+00:00,# áŒ«áˆ› áˆ˜á‹°áˆ­á‹°áˆªá‹« [ á‰£áˆˆ á‰¥áˆ¨á‰± ] ğŸ“² 0910091057 ğŸ“² 09610685...,retail,"[#, #Free, #delivery]"
6,664,2024-01-15T09:57:48+00:00,call us 0912426847 0905710617,retail,[]
7,1219,2024-01-03T12:03:57+00:00,Bapesta Sneaker Size:- 40 41 42 43 Made in V...,retail,[#3500birrğŸ’¸]
9,5990,2023-12-02T07:17:12+00:00,Vans Sk8 Hi Tapered Size:- 40 41 Made in Vie...,retail,[#3999birrğŸ’¸]

In [8]:
# Remove hashtags from text
df['Message'] = df['Message'].str.replace(r'\#\w+', '', regex=True)
df.head()

,Unnamed: 0,Date,Message,label,hashtags
0,81,2024-01-26T12:07:19+00:00,ğŸŒ¼Sauna vestğŸŒ¼ â¤ áŠ­á‰¥á‹°á‰µáŠ• áˆˆáˆ˜á‰€áŠáˆµ áŠ¥áŠ“ á‰ á‰°áŠ¨á‰³á‰³á‹­ áŠ áŒ á‰ƒá‰€áˆ áˆ°á‹áŠ...,retail,[]
3,2092,2023-12-22T13:05:54+00:00,# áŒ«áˆ› áˆ˜á‹°áˆ­á‹°áˆªá‹« [ á‰£áˆˆ á‰¥áˆ¨á‰± ] ğŸ“² 0910091057 ğŸ“² 09610685...,retail,"[#, #Free, #delivery]"
6,664,2024-01-15T09:57:48+00:00,call us 0912426847 0905710617,retail,[]
7,1219,2024-01-03T12:03:57+00:00,Bapesta Sneaker Size:- 40 41 42 43 Made in V...,retail,[#3500birrğŸ’¸]
9,5990,2023-12-02T07:17:12+00:00,Vans Sk8 Hi Tapered Size:- 40 41 Made in Vie...,retail,[#3999birrğŸ’¸]

#### Extract emojis

In [9]:
# Extract emojis using regex
df['emojis'] = df['Message'].apply(util.extract_emojis)
df.tail()

,Unnamed: 0,Date,Message,label,hashtags,emojis
10240,6190,2023-12-01T10:34:49+00:00,Allstar converse chuck 70 Size:- 42 43 Made...,retail,[#3200],ğŸ’¸
10241,1242,2024-01-03T11:14:16+00:00,call us 0912426847 0905710617,retail,[],
10242,80,2024-01-26T12:07:19+00:00,ğŸ’¥ HainoTeko G9 ultra max áˆµáˆ›áˆ­á‰µ áˆ°áŠ á‰µ áˆáˆˆá‰µ á‹¨áˆšá‰€á‹«á‹¨áˆ­ á‹¨...,retail,[],ğŸ’¥âœ…âœ…ğŸŒ¡ğŸƒâ™‚ğŸƒâ™€ğŸš¶ğŸš¶â™€âœ…ğŸ“¸ğŸ—“âœ…ğŸ“²ğŸ“²ğŸšš
10243,2430,2022-12-16T14:48:42+00:00,"á‹¨áˆšáŠ¨áˆ«á‹­ á‰¤á‰µ áŠ áŠ¨á‰£á‰¢ á‹‹áŒ‹: 40,000 á‰ á‹ˆáˆ­ á‹¨á‰¤á‰µ áŠ á‹­áŠá‰µ: áˆ˜áŠá‰³: ...",real estate,"[#áŒáˆ®, #á‰ªáˆ‹]",ğŸ“
10244,1569,2024-01-02T07:33:42+00:00,Allstar converse leather Size:- 37 38 41 42 4...,retail,[],

#### Remove emojis from text

#### Replace letters:
* ['áˆ', 'áˆ‘', 'áˆ’', 'áˆ“', 'áˆ”', 'áˆ–'] with ['áˆ€', 'áˆ', 'áˆ‚', 'áˆƒ', 'áˆ„', 'áˆ…', 'áˆ†']
* ['áŠ€', 'áŠ', 'áŠ‚', 'áŠƒ', 'áŠ„', 'áŠ…', 'áŠ†'] with ['áˆ€', 'áˆ', 'áˆ‚', 'áˆƒ', 'áˆ„', 'áˆ…', 'áˆ†']
* ['áˆ ', 'áˆ¡', 'áˆ¢', 'áˆ£', 'áˆ¤', 'áˆ¦', 'áˆ¦', 'áˆ§'] with ['áˆ°, 'áˆ±', 'áˆ²', 'áˆ³', 'áˆ´', 'áˆµ', 'áˆ¶', 'áˆ·']
* ['á‹', 'á‹‘', 'á‹’', 'á‹“', 'á‹”', 'á‹•', 'á‹–'] with ['áŠ ', 'áŠ¡', 'áŠ¢', 'áŠ£', 'áŠ¤', 'áŠ¥', 'áŠ¦']
* ['áŒ¸', 'áŒ¹', 'áŒº', 'áŒ»', 'áŒ¼', 'áŒ½', 'áŒ¾'] with ['á€', 'á', 'á‚', 'áƒ', 'á„', 'á…', 'á†']

In [10]:
letters = [
  [['áˆ', 'áˆ‘', 'áˆ’', 'áˆ“', 'áˆ”', 'áˆ–'], ['áˆ€', 'áˆ', 'áˆ‚', 'áˆƒ', 'áˆ„', 'áˆ…', 'áˆ†']],
  [['áŠ€', 'áŠ', 'áŠ‚', 'áŠƒ', 'áŠ„', 'áŠ…', 'áŠ†'], ['áˆ€', 'áˆ', 'áˆ‚', 'áˆƒ', 'áˆ„', 'áˆ…', 'áˆ†']],
  [['áˆ ', 'áˆ¡', 'áˆ¢', 'áˆ£', 'áˆ¤', 'áˆ¦', 'áˆ¦', 'áˆ§'], ['áˆ°', 'áˆ±', 'áˆ²', 'áˆ³', 'áˆ´', 'áˆµ', 'áˆ¶', 'áˆ·']],
  [['á‹', 'á‹‘', 'á‹’', 'á‹“', 'á‹”', 'á‹•', 'á‹–'], ['áŠ ', 'áŠ¡', 'áŠ¢', 'áŠ£', 'áŠ¤', 'áŠ¥', 'áŠ¦']],
  [['áŒ¸', 'áŒ¹', 'áŒº', 'áŒ»', 'áŒ¼', 'áŒ½', 'áŒ¾'], ['á€', 'á', 'á‚', 'áƒ', 'á„', 'á…', 'á†']]
]
for letter in letters:
  for i in range(len(letter[0])):
    df['Message'] = df['Message'].str.replace(letter[0][i], letter[1][i])

#### Extract symbols

In [11]:
df['symbols'] = df['Message'].apply(util.extract_symbols)
df.tail()

,Unnamed: 0,Date,Message,label,hashtags,emojis,symbols
10240,6190,2023-12-01T10:34:49+00:00,Allstar converse chuck 70 Size:- 42 43 Made...,retail,[#3200],ğŸ’¸,-
10241,1242,2024-01-03T11:14:16+00:00,call us 0912426847 0905710617,retail,[],,
10242,80,2024-01-26T12:07:19+00:00,ğŸ’¥ HainoTeko G9 ultra max áˆµáˆ›áˆ­á‰µ áˆ°áŠ á‰µ áˆáˆˆá‰µ á‹¨áˆšá‰€á‹«á‹¨áˆ­ á‹¨...,retail,[],ğŸ’¥âœ…âœ…ğŸŒ¡ğŸƒâ™‚ğŸƒâ™€ğŸš¶ğŸš¶â™€âœ…ğŸ“¸ğŸ—“âœ…ğŸ“²ğŸ“²ğŸšš,-
10243,2430,2022-12-16T14:48:42+00:00,"á‹¨áˆšáŠ¨áˆ«á‹­ á‰¤á‰µ áŠ áŠ¨á‰£á‰¢ á‹‹áŒ‹: 40,000 á‰ á‹ˆáˆ­ á‹¨á‰¤á‰µ áŠ á‹­áŠá‰µ: áˆ˜áŠá‰³: ...",real estate,"[#áŒáˆ®, #á‰ªáˆ‹]",ğŸ“,
10244,1569,2024-01-02T07:33:42+00:00,Allstar converse leather Size:- 37 38 41 42 4...,retail,[],,-

In [12]:
df['Message'] = df['Message'].apply(util.remove_symbols)
df.tail()

,Unnamed: 0,Date,Message,label,hashtags,emojis,symbols
10240,6190,2023-12-01T10:34:49+00:00,Allstar converse chuck 70 Size: 42 43 Made...,retail,[#3200],ğŸ’¸,-
10241,1242,2024-01-03T11:14:16+00:00,call us 0912426847 0905710617,retail,[],,
10242,80,2024-01-26T12:07:19+00:00,ğŸ’¥ HainoTeko G9 ultra max áˆµáˆ›áˆ­á‰µ áˆ°áŠ á‰µ áˆáˆˆá‰µ á‹¨áˆšá‰€á‹«á‹¨áˆ­ á‹¨...,retail,[],ğŸ’¥âœ…âœ…ğŸŒ¡ğŸƒâ™‚ğŸƒâ™€ğŸš¶ğŸš¶â™€âœ…ğŸ“¸ğŸ—“âœ…ğŸ“²ğŸ“²ğŸšš,-
10243,2430,2022-12-16T14:48:42+00:00,"á‹¨áˆšáŠ¨áˆ«á‹­ á‰¤á‰µ áŠ áŠ¨á‰£á‰¢ á‹‹áŒ‹: 40,000 á‰ á‹ˆáˆ­ á‹¨á‰¤á‰µ áŠ á‹­áŠá‰µ: áˆ˜áŠá‰³: ...",real estate,"[#áŒáˆ®, #á‰ªáˆ‹]",ğŸ“,
10244,1569,2024-01-02T07:33:42+00:00,Allstar converse leather Size: 37 38 41 42 4...,retail,[],,-

#### Extract Links

In [13]:
df['links'] = df['Message'].apply(util.extract_urls)
df.tail()

,Unnamed: 0,Date,Message,label,hashtags,emojis,symbols,links
10240,6190,2023-12-01T10:34:49+00:00,Allstar converse chuck 70 Size: 42 43 Made...,retail,[#3200],ğŸ’¸,-,[]
10241,1242,2024-01-03T11:14:16+00:00,call us 0912426847 0905710617,retail,[],,,[]
10242,80,2024-01-26T12:07:19+00:00,ğŸ’¥ HainoTeko G9 ultra max áˆµáˆ›áˆ­á‰µ áˆ°áŠ á‰µ áˆáˆˆá‰µ á‹¨áˆšá‰€á‹«á‹¨áˆ­ á‹¨...,retail,[],ğŸ’¥âœ…âœ…ğŸŒ¡ğŸƒâ™‚ğŸƒâ™€ğŸš¶ğŸš¶â™€âœ…ğŸ“¸ğŸ—“âœ…ğŸ“²ğŸ“²ğŸšš,-,[]
10243,2430,2022-12-16T14:48:42+00:00,"á‹¨áˆšáŠ¨áˆ«á‹­ á‰¤á‰µ áŠ áŠ¨á‰£á‰¢ á‹‹áŒ‹: 40,000 á‰ á‹ˆáˆ­ á‹¨á‰¤á‰µ áŠ á‹­áŠá‰µ: áˆ˜áŠá‰³: ...",real estate,"[#áŒáˆ®, #á‰ªáˆ‹]",ğŸ“,,[]
10244,1569,2024-01-02T07:33:42+00:00,Allstar converse leather Size: 37 38 41 42 4...,retail,[],,-,[]

#### Remove links

In [14]:
df['Message'] = df['Message'].str.replace(util.url_pattern, '', regex=True).str.strip()
df.tail()

,Unnamed: 0,Date,Message,label,hashtags,emojis,symbols,links
10240,6190,2023-12-01T10:34:49+00:00,Allstar converse chuck 70 Size: 42 43 Made...,retail,[#3200],ğŸ’¸,-,[]
10241,1242,2024-01-03T11:14:16+00:00,call us 0912426847 0905710617,retail,[],,,[]
10242,80,2024-01-26T12:07:19+00:00,ğŸ’¥ HainoTeko G9 ultra max áˆµáˆ›áˆ­á‰µ áˆ°áŠ á‰µ áˆáˆˆá‰µ á‹¨áˆšá‰€á‹«á‹¨áˆ­ á‹¨...,retail,[],ğŸ’¥âœ…âœ…ğŸŒ¡ğŸƒâ™‚ğŸƒâ™€ğŸš¶ğŸš¶â™€âœ…ğŸ“¸ğŸ—“âœ…ğŸ“²ğŸ“²ğŸšš,-,[]
10243,2430,2022-12-16T14:48:42+00:00,"á‹¨áˆšáŠ¨áˆ«á‹­ á‰¤á‰µ áŠ áŠ¨á‰£á‰¢ á‹‹áŒ‹: 40,000 á‰ á‹ˆáˆ­ á‹¨á‰¤á‰µ áŠ á‹­áŠá‰µ: áˆ˜áŠá‰³: ...",real estate,"[#áŒáˆ®, #á‰ªáˆ‹]",ğŸ“,,[]
10244,1569,2024-01-02T07:33:42+00:00,Allstar converse leather Size: 37 38 41 42 4...,retail,[],,-,[]

#### Extract mentions

In [15]:
df['mentions'] = df['Message'].apply(util.extract_mentions)
df.tail()

,Unnamed: 0,Date,Message,label,hashtags,emojis,symbols,links,mentions
10240,6190,2023-12-01T10:34:49+00:00,Allstar converse chuck 70 Size: 42 43 Made...,retail,[#3200],ğŸ’¸,-,[],"[KicksAddis1, KicksAddis]"
10241,1242,2024-01-03T11:14:16+00:00,call us 0912426847 0905710617,retail,[],,,[],[]
10242,80,2024-01-26T12:07:19+00:00,ğŸ’¥ HainoTeko G9 ultra max áˆµáˆ›áˆ­á‰µ áˆ°áŠ á‰µ áˆáˆˆá‰µ á‹¨áˆšá‰€á‹«á‹¨áˆ­ á‹¨...,retail,[],ğŸ’¥âœ…âœ…ğŸŒ¡ğŸƒâ™‚ğŸƒâ™€ğŸš¶ğŸš¶â™€âœ…ğŸ“¸ğŸ—“âœ…ğŸ“²ğŸ“²ğŸšš,-,[],[]
10243,2430,2022-12-16T14:48:42+00:00,"á‹¨áˆšáŠ¨áˆ«á‹­ á‰¤á‰µ áŠ áŠ¨á‰£á‰¢ á‹‹áŒ‹: 40,000 á‰ á‹ˆáˆ­ á‹¨á‰¤á‰µ áŠ á‹­áŠá‰µ: áˆ˜áŠá‰³: ...",real estate,"[#áŒáˆ®, #á‰ªáˆ‹]",ğŸ“,,[],[betontext]
10244,1569,2024-01-02T07:33:42+00:00,Allstar converse leather Size: 37 38 41 42 4...,retail,[],,-,[],"[KicksAddis1, KicksAddis]"

In [16]:
df['Message'] = df['Message'].str.replace(util.mention_pattern, '', regex=True).str.strip()
df.tail()

,Unnamed: 0,Date,Message,label,hashtags,emojis,symbols,links,mentions
10240,6190,2023-12-01T10:34:49+00:00,Allstar converse chuck 70 Size: 42 43 Made...,retail,[#3200],ğŸ’¸,-,[],"[KicksAddis1, KicksAddis]"
10241,1242,2024-01-03T11:14:16+00:00,call us 0912426847 0905710617,retail,[],,,[],[]
10242,80,2024-01-26T12:07:19+00:00,ğŸ’¥ HainoTeko G9 ultra max áˆµáˆ›áˆ­á‰µ áˆ°áŠ á‰µ áˆáˆˆá‰µ á‹¨áˆšá‰€á‹«á‹¨áˆ­ á‹¨...,retail,[],ğŸ’¥âœ…âœ…ğŸŒ¡ğŸƒâ™‚ğŸƒâ™€ğŸš¶ğŸš¶â™€âœ…ğŸ“¸ğŸ—“âœ…ğŸ“²ğŸ“²ğŸšš,-,[],[]
10243,2430,2022-12-16T14:48:42+00:00,"á‹¨áˆšáŠ¨áˆ«á‹­ á‰¤á‰µ áŠ áŠ¨á‰£á‰¢ á‹‹áŒ‹: 40,000 á‰ á‹ˆáˆ­ á‹¨á‰¤á‰µ áŠ á‹­áŠá‰µ: áˆ˜áŠá‰³: ...",real estate,"[#áŒáˆ®, #á‰ªáˆ‹]",ğŸ“,,[],[betontext]
10244,1569,2024-01-02T07:33:42+00:00,Allstar converse leather Size: 37 38 41 42 4...,retail,[],,-,[],"[KicksAddis1, KicksAddis]"

#### Remove extra spaces

In [17]:
df['Message'] = df['Message'].str.replace('\s+', ' ', regex=True).str.strip()

In [18]:
df['Message'] = df['Message'].replace(r'!+', '!', regex=True)
df['Message'] = df['Message'].replace(r'\.+', '', regex=True)

In [19]:
df.tail()

,Unnamed: 0,Date,Message,label,hashtags,emojis,symbols,links,mentions
10240,6190,2023-12-01T10:34:49+00:00,Allstar converse chuck 70 Size: 42 43 Made in ...,retail,[#3200],ğŸ’¸,-,[],"[KicksAddis1, KicksAddis]"
10241,1242,2024-01-03T11:14:16+00:00,call us 0912426847 0905710617,retail,[],,,[],[]
10242,80,2024-01-26T12:07:19+00:00,ğŸ’¥ HainoTeko G9 ultra max áˆµáˆ›áˆ­á‰µ áˆ°áŠ á‰µ áˆáˆˆá‰µ á‹¨áˆšá‰€á‹«á‹¨áˆ­ á‹¨...,retail,[],ğŸ’¥âœ…âœ…ğŸŒ¡ğŸƒâ™‚ğŸƒâ™€ğŸš¶ğŸš¶â™€âœ…ğŸ“¸ğŸ—“âœ…ğŸ“²ğŸ“²ğŸšš,-,[],[]
10243,2430,2022-12-16T14:48:42+00:00,"á‹¨áˆšáŠ¨áˆ«á‹­ á‰¤á‰µ áŠ áŠ¨á‰£á‰¢ á‹‹áŒ‹: 40,000 á‰ á‹ˆáˆ­ á‹¨á‰¤á‰µ áŠ á‹­áŠá‰µ: áˆ˜áŠá‰³: 4 ...",real estate,"[#áŒáˆ®, #á‰ªáˆ‹]",ğŸ“,,[],[betontext]
10244,1569,2024-01-02T07:33:42+00:00,Allstar converse leather Size: 37 38 41 42 43 ...,retail,[],,-,[],"[KicksAddis1, KicksAddis]"

#### Save cleaned dataframe

In [20]:
df.to_csv("/home/yvvon_majala//llm-fast-api/data/cleaned_shuffle.csv")