### Importing libraries

In [1]:
#data manipulation libraries
import pandas as pd
import numpy as np

### Importing the dataset

In [2]:
df1 = pd.read_csv('/home/yvvon_majala/llm-fast-api/data/benton_rentals.csv')
df1.head()

   Unnamed: 0    ID                       Date Message        label
0           0  4679  2024-01-29T09:55:08+00:00     NaN  real estate
1           1  4678  2024-01-29T09:55:08+00:00     NaN  real estate
2           2  4677  2024-01-29T09:55:08+00:00     NaN  real estate
3           3  4676  2024-01-29T09:55:08+00:00     NaN  real estate
4           4  4675  2024-01-29T09:55:08+00:00     NaN  real estate

In [3]:
#dropping unnamed column
df1.drop(['Unnamed: 0'], axis = 1, inplace = True)
df1.tail()

,ID,Date,Message,label
3378,847,2022-07-07T18:05:50+00:00,NaN,real estate
3379,846,2022-07-07T18:05:50+00:00,NaN,real estate
3380,845,2022-07-07T18:05:50+00:00,NaN,real estate
3381,844,2022-07-07T18:05:50+00:00,"·ã®·àö·ä®·à´·ã≠ ·â§·âµ #·ä†·ã´·âµ ·ä†·ä®·â£·â¢ \n·ãã·åã: 100,000 ·â†·ãà·à≠ (·âµ·äï·àΩ ·ãµ·à≠·ãµ·à≠...",real estate
3382,1,2018-02-20T05:33:15+00:00,NaN,real estate

In [5]:
#dropping unnamed column
df1.drop(['ID'], axis = 1, inplace = True)
df1.tail()

,Date,Message,label
3378,2022-07-07T18:05:50+00:00,NaN,real estate
3379,2022-07-07T18:05:50+00:00,NaN,real estate
3380,2022-07-07T18:05:50+00:00,NaN,real estate
3381,2022-07-07T18:05:50+00:00,"·ã®·àö·ä®·à´·ã≠ ·â§·âµ #·ä†·ã´·âµ ·ä†·ä®·â£·â¢ \n·ãã·åã: 100,000 ·â†·ãà·à≠ (·âµ·äï·àΩ ·ãµ·à≠·ãµ·à≠...",real estate
3382,2018-02-20T05:33:15+00:00,NaN,real estate

In [4]:
#loading the second dataset
df2 = pd.read_csv("/home/yvvon_majala/llm-fast-api/data/gojo.csv")
df2.head()

,Unnamed: 0,Date,Message,label
0,0,2024-01-29T10:48:00+00:00,üí•Adjustable corset [·ãâ·çç·à®·âµ ·àò·âÄ·äê·àª ]\nüì≤ 0910091057\...,retail
1,1,2024-01-29T10:48:00+00:00,üí•Corset Shaper [·â£·àà·àõ·äï·åà·âª·ãâ ·äÆ·à≠·à¥·âµ]\nüì≤ 0910091057\n·àà...,retail
2,2,2024-01-29T10:48:00+00:00,MX 10 tv box s\nCPU:Allwinner RK3228A Quad-Cor...,retail
3,3,2024-01-29T10:48:00+00:00,Portable Menstrual heating pad\n‚ôêÔ∏è·â†·ãà·à≠ ·ä†·â†·â£ ·ãà·âÖ·âµ ...,retail
4,4,2024-01-29T05:17:25+00:00,üí•Adjustable corset [·ãâ·çç·à®·âµ ·àò·âÄ·äê·àª ]\nüì≤ 0910091057\...,retail

In [6]:
#dropping unnamed column
df2.drop(['Unnamed: 0'], axis = 1, inplace = True)
df2.tail()

,Date,Message,label
6857,2023-07-24T13:19:21+00:00,SKECHERS GO WALK 5\n\nSize: 41\nüè∑Free Delivery...,retail
6858,2023-07-24T13:16:01+00:00,Air Jordan 6 Retro \n\nSize¬† :- 40 41 43\nüè∑Fre...,retail
6859,2023-07-24T13:14:42+00:00,Air Jordan 6 Retro \n\nSize¬† :- 40 42\nüè∑Free D...,retail
6860,2023-07-24T13:14:28+00:00,Air Jordan 6 Retro \n\nSize¬† :- 40 43\nüè∑Free D...,retail
6861,2023-07-24T13:13:58+00:00,Allstar convers \n\nSize: 37 38 39 40 41 42 4...,retail

### Concatinating the dataset

In [8]:
#concatinating the two datasets
df3 = pd.concat([df1,df2], axis = 0)
df3.shape

(10245, 3)

### Shuffling the dataset rows

In [9]:
# shuffle the DataFrame rows
df3 = df3.sample(frac = 1)
df3.head()

,Date,Message,label
81,2024-01-26T12:07:19+00:00,üåºSauna vestüåº\n‚û§ ·ä≠·â•·ã∞·âµ·äï ·àà·àò·âÄ·äê·àµ ·ä•·äì ·â†·â∞·ä®·â≥·â≥·ã≠ ·ä†·å†·âÉ·âÄ·àù ·à∞·ãç...,retail
323,2023-11-23T10:11:23+00:00,NaN,real estate
1860,2023-02-23T14:21:00+00:00,NaN,real estate
2092,2023-12-22T13:05:54+00:00,# ·å´·àõ ·àò·ã∞·à≠·ã∞·à™·ã´ [ ·â£·àà ·â•·à®·â± ]\nüì≤ 0910091057\nüì≤ 096106...,retail
6573,2023-11-30T07:25:53+00:00,NaN,retail

In [10]:
#saving the dataset
df3.to_csv("/home/yvvon_majala//llm-fast-api/data/shuffled.csv")